<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="style.css">.
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <div class="jumbotron">
      <div class="well">
        <h2 padding="center"><center>Choose an algorithm</center> </h2>
      </div>
      <center>
      <select id="role" name="model_choice" class="dropdown divider">
          <option value="" disabled selected>Select Model</option>
          <option value="logitmodel">Logistic Regression</option>
          <option value="knnmodel">K-Nearest Neighbour</option>
          <option value="naiveb">Naive Bayes</option>
          <option value="supportv">Support Vector Machines</option>
      </select>
    </center>
        </div>
  </body>
</html>
