* { margin:50px; font-size:45px; margin-bottom:0px;}
.jumbotron { border-radius: 20px ; padding:40px;padding-right:60px; }
.btn {
height:50px;
letter-spacing: 5px;
}
a { text-decoration: none; }
